@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Fontdiner+Swanky&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    background-color: rgb(163, 14, 14);
}
.navbar-brand{
    width: 8%;
}
.nav-item .nav-link{
    color: white;
    font-size: 15px;
}
.fa-bars{
    color: white;
}
#home{
    /* background-image: url(https://thumbs.dreamstime.com/b/miniature-construction-worker-focused-creating-pizza-stretching-cheese-as-prepares-tasty-treat-unique-culinary-scene-371849183.jpghttps://thumbs.dreamstime.com/b/tiny-people-dressed-as-chefs-preparing-big-pizza-dough-miniature-human-figures-making-food-cooking-391948933.jpg?w=768) ; */
    /* background-image: url(https://thumbs.dreamstime.com/b/miniature-chef-figurines-engage-large-pizza-wooden-board-one-chef-wields-large-pizza-cutter-another-uses-363023196.jpg); */
    background-image: url(./DeWatermark.ai_1753169369383.jpeg);
    width: 100vw;
    height: 98vh;
    background-size: cover;
    background-position: center;
}
.pizza{
    color:#FFD100;
    font-weight: bold;
    text-shadow: 2px 3px 4px #000;
    font-family: "Fontdiner Swanky", serif;
}
.tagline{
    font-family: "Fontdiner Swanky", serif;
    color: white;
}
.aboutcontent{
    padding: 2%;
}
.aboutcontent h1{
    color: rgb(196, 32, 59);
}
.aboutcontent p{
    line-height: 30px;
}
.d-block{
    aspect-ratio: 3/2;
}
.card-img-top{
    aspect-ratio: 3/2;
}

.input-group-text{
    background-color: rgb(163, 14, 14) !important;
    color: white !important;
    border-radius: 10px;
    border: none !important;
}

#footer{
    background-color: rgb(163, 14, 14);
    padding: 2%;
    color: white;
}
.links h5{
    text-decoration: 2px solid white underline;
}
.fa-brands{
    font-size: larger;
}